:root {
    --amarelo:#FFB354;
    --laranja:#EE7A3A;
    --laranjaTexto:#ED7839;
    --itens:#725C5C;
    --topico:#4E4E4E;
    --textoDiscussoes:#595959;
    --assuntosNome:#5C5C5C;
    --assuntosTexto:#4D4D4D;
    --branco:#FFFFFF;
    --cinzaEscuro:#333333;
    --backgroundCabecalho:#FDF1EB;



    --roboto:"Roboto", sans-serif;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: var(--branco);
    
}

.titulo-topico{
    font-family: var(--roboto);
    font-weight: 500;
    color: var(--topico);
    font-size: 1.25rem;
    padding: .2rem;
    border: 1px solid #ECECEC;
    background-color: var(--backgroundCabecalho);
    margin:0 .5rem ;
}
.corpo-topico{
    margin: 0 .5rem .5rem .5rem;
    border: 1px solid #ECECEC;
    padding: .5rem;
}
.corpo-topico p{
    font-size: .75rem;
    font-weight: 400;
    color:var(--assuntosNome);
}
