
.trabalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

    padding-top: .5rem;
    padding-bottom: .5rem;
}

.trabalho__titulo{
    color: var(--laranjaTexto);
    font-family:  var(--roboto);
    font-size:1.25rem;
    font-weight: 900;
    margin:1.25rem 0 1.25rem 0;
    
    text-align: center;
    
}
.trabalho__titulo___video{
    display: none;
}



.trabalho__video{
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
}

.trabalho__nome{
    font-family: var(--roboto);
    font-weight: 900;
    position: absolute;
    bottom: 62%;
    left: 16%;
    color: var(--branco);
    font-size: .6rem;
}
.trabalho__imagem{
    border:1px solid #ED7839;
    border-radius: 100%;
    width: 2rem;
    position: absolute;
    bottom:59.9%;
    left:4% ;
  
}

.trabalho__faculdade{
    position: absolute;
    left: 16%;
    bottom: 60.5%;
    color: var(--branco);
    font-size: .5rem;
    font-family: var(--roboto);
    font-weight: 900;
    
}

 

    

.trabalho__detalhes{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.trabalho__citacao{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: .88rem;
    color: var(--laranjaTexto);
    margin-bottom:.5rem;
    
}
.trabalho__detalhes___titulo{
    font-family: var(--roboto);
    font-weight: 500;
    color: var(--topico);
    font-size: 1.25rem;
    padding: .2rem;
    border: 1px solid #ECECEC;
    background-color: var(--backgroundCabecalho);
    margin:0 .5rem ;
}
.trabalho__detalhes___texto{
    margin: 0 .5rem .5rem .5rem;
    border: 1px solid #ECECEC;
    padding: .5rem;
    height: 100%;
}

.trabalho__detalhes___texto li{
    list-style-type: none;
    margin: .6rem;
}
.detalhes-texto{
    font-size: .875rem;
    font-weight: 400;
    color:var(--assuntosNome);
}

.negrito{
    
    font-weight: bolder;
    
}
.detalhes__universidade{
    font-size: .75rem;
    font-weight: 400;
    color: #d3d3d3;
}


.trabalhos__botoes{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.trabalho__boteoes___download span{
    font-size: 1rem;
}
.trabalho__boteoes___download{
    color: var(--branco);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    background-color: var(--laranjaTexto);
    border: none;
    border-radius: 4px;
}
.trabalho__boteoes___favoritar{
    background-color: var(--laranjaTexto);
    border: none;
    border-radius: 4px;
    color: var(--branco);
}
.trabalho__boteoes___favoritar span{
    font-size: 1rem;
}
.trabalho__boteoes___doi{
    background-color: var(--laranjaTexto);
    border: none;
    border-radius: 4px;
    
}
.trabalho__boteoes___doi img{
    width: 1rem;
}


.botao{
    margin:.5rem .1rem;
    padding:.2rem .7rem;
}

@media screen and (min-width:768px){
    .trabalho__titulo___video{
     display: inline-block;
     position: absolute;
     top: 15%;
     font-size: 1.5rem;
     color: var(--branco);
     font-family: var(--roboto);
     font-weight: 900;
    } 
    .trabalho__imagem{
        width: 10%;
        bottom: 48%;
        left: 2%;
    }
    .trabalho__faculdade{
        bottom: 48%;
        left: 13%;
        font-size: 1.25rem;
    }
    .trabalho__nome{
        bottom: 52%;
        left: 13%;
        font-size: 2.125rem;

    }
 }

 @media screen and (min-width:1024px){
    .trabalho{
        display: grid;
        grid-template-columns:70% auto;
        column-gap: 1rem;
    }
    .trabalho__titulo{
      grid-column: 1;
      grid-row: 1;
        
    }
    .trabalho__titulo___video{
        top:29%;
        left:3.5%;
        font-size:1.25rem;
    }
    .trabalho__nome{
        bottom: 25%;
        font-size: 1.25rem;
    }
    .trabalho__faculdade{
        bottom: 18%;
        font-size: 1rem;
    }
    .trabalho__imagem{
        bottom:15% ;
    }
    .trabalho__video{
        height: 100%;
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
        padding: 0;
    }
   .trabalho__botoes{
       grid-column: 2;
       grid-row: 1;
   }
  
    .trabalho__detalhes{
        grid-column: 2;
        grid-row: 2;
        padding:.1rem .1rem 0 .1rem;
        margin: 0;
        
    }
    .trabalho__detalhes___titulo{
        margin: 0;

    }
    .trabalho__detalhes___texto{
        margin: 0;
        padding: 0;
    }
    .detalhes-texto{
        text-align: start;
        font-size: .85rem;
    }
    .autores{
        display: flex;
        flex-direction: column;
        
    }   
    .titulo-topico{
        margin: 0 .5rem 0 .5rem;

    }
    .universidades{
        display: flex;
        flex-direction: column;
    }
    .detalhes__universidade{
        text-align: start;
        font-size: 0.65rem;
    } 
}
@media screen and (min-width:1080px){
 
    .detalhes-texto{
        font-size: .875rem;
    }
     .detalhes__universidade{
        text-align: start;
        font-size: 0.75rem;
    } 
}
@media screen and (min-width:1440px){
    .trabalho__titulo___video{
        top:20%;
        left:8.5%;
        font-size:1.5rem;
    }
    .trabalho__nome{
        bottom: 25%;
        font-size: 1.5rem;
    }
    .trabalho__faculdade{
        bottom: 18%;
        font-size: 1.25rem;
    }
    .trabalho__imagem{
        bottom:15% ;
    }
    .trabalho__detalhes___titulo{
        margin: 0;
        padding: 1rem 0;

    }
    .trabalho__detalhes___texto{
        margin: 0 0 0 0;
        padding: .25rem 0 2rem 0;
    }
    .detalhes-texto{
        font-size: 1rem;
        margin-bottom: .64rem;
    }
    .detalhes__universidade{
        font-size: .875rem;
        margin-bottom: .5rem;
    }
    
}